.DS_Store
debug*
datasets/
checkpoints/
results/
build/
dist/
torch.egg-info/
*/**/__pycache__
test/data/legacy_modules.t7
test/data/gpu_tensors.pt
test/htmlcov
test/.coverage
*/*.pyc
*/**/*.pyc
*/**/**/*.pyc
*/**/**/**/*.pyc
*/**/**/**/**/*.pyc
*/*.so*
*/**/*.so*
*/**/*.dylib*
test/data/legacy_serialized.pt
*~
.idea

#Ignore Wandb
wandb/
